# hidden files
.*

# logs
*.log

# config files
/*.toml

# coverage file
/coverage.out

# builds
/dist
/build
/pkg/static/static_gen.go
/static/logo
/static/static
/static/swagger/*.json
/static/index.html
/static/asset-manifest.json
/static/service-worker.js
/static/manifest.json
/static/icon.png
/static/precache-manifest.*.js
/ui/build

# node modules
node_modules

#docker-compose
*.yml
*.sum
